 
 body {
  background-color: gainsboro;
  font-size: 1.2em;
  }
  
  #resultados {
    margin-top: 20px;
  }
  .lectura-sensor {
    margin-bottom: 10px;
  }
  #promedioTemperatura {
    margin-top: 15px;
    font-weight: bold;
  }
  #botonReiniciar {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
  }
  button {
    margin: 5px;
    margin-top: 20px;
    padding: 10px 25px; 
    font-size: 1em;
  }
